header {
  background-color: lightcyan;
  box-shadow: 0 0 10px black;
  text-align: center;
  padding: 10px;
}

main {
  width: 90%;
  margin: auto;
}

nav a {
  display: inline-block;
  background-color: rgb(134, 204, 229);
  border-radius: 4px;
  margin: 6px;
  padding: 8px;
  transition: .2s;
  color: black;
  text-decoration: none;
}

nav a:hover {
  cursor: pointer;
  background-color: rgb(110, 166, 187);
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}